ProyectoFase2/ProyectoFase2/Web References/WSR/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="cargarImpuestos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="directorio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cargarImpuestosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cargarImpuestosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="archivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="directorio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="archivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="archivoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="cargarImpuestosSoapIn">
    <wsdl:part name="parameters" element="tns:cargarImpuestos" />
  </wsdl:message>
  <wsdl:message name="cargarImpuestosSoapOut">
    <wsdl:part name="parameters" element="tns:cargarImpuestosResponse" />
  </wsdl:message>
  <wsdl:message name="archivoSoapIn">
    <wsdl:part name="parameters" element="tns:archivo" />
  </wsdl:message>
  <wsdl:message name="archivoSoapOut">
    <wsdl:part name="parameters" element="tns:archivoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="cargarImpuestos">
      <wsdl:input message="tns:cargarImpuestosSoapIn" />
      <wsdl:output message="tns:cargarImpuestosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="archivo">
      <wsdl:input message="tns:archivoSoapIn" />
      <wsdl:output message="tns:archivoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cargarImpuestos">
      <soap:operation soapAction="http://tempuri.org/cargarImpuestos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="archivo">
      <soap:operation soapAction="http://tempuri.org/archivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cargarImpuestos">
      <soap12:operation soapAction="http://tempuri.org/cargarImpuestos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="archivo">
      <soap12:operation soapAction="http://tempuri.org/archivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:17280/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:17280/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>